<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Costs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sales_management.css') }}">
</head>
<body>
    <header>
        <div>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
            <a href="javascript:history.back()" class="previous-page-btn">Previous Page</a>
        </div>
        <a href="/" class="btn home-btn">Home</a>
    </header>
    <main>
        <h1>Rental Costs</h1>
        <!-- Add your content for rental costs here -->
    </main>
</body>
</html>
